{% extends 'base.html.twig' %}

{% block title %}Créer son inventaire{% endblock %}

{% block content %}
    <h1>Créer son inventaire</h1>

    {{ form_start(inventoryForm) }}
    {{ form_row(inventoryForm.user) }}
    <button type="submit" class="btn">Créer son inventaire</button>
    {{ form_end(inventoryForm) }}
{% endblock %}
